@model IEnumerable<ClassLibraryEF.ContentTable>

@{
    ViewBag.Title = "Hockey";
}
<link href="@Url.Content("~/Content/Content.css")" rel="stylesheet" type="text/css" />
   
<div class="col-md-11 col-md-offset-1">
     <div class="inner-content">
            @foreach (var item in Model)
            {
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                            @Html.Raw("<img style='width:900px; height:600px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.ImagePath) + "\" />")
                            <br />
                            <h4>@Html.DisplayFor(modelItem => item.FullDetail)</h4>
                            <br />
            }
    </div>
</div>
